<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :students_record_id %>
  <%= f.hidden_field :instructor_id %>
  <%= f.hidden_field :component_id %>
<%= raw(ERB.new(grade_component_as_form(@grade.component.content)).result(binding)) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
