<div class='well well-small'>
  <div class='pull-right' data-intro='Reset the filter settings to defaults.' data-position='bottom'>
    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>
  </div>
  <div>
    <%= page_entries_info grades, :model => 'grade' %>
  </div>
  <div>
    <%= render_filterrific_spinner %>
  </div>
</div>

<% if grades.size > 0 %>
<table id="listing_grade" class="table pretty table-hover table-striped ExcelTable2007">
  <%= raw(grade_component_as_table_heading(AnyPkgGradeComponent.first.structure, {before:"Nama"})) %>
  <tbody>
    <% grades.each do |gr| %>
      <tr>
        <td><%= gr.students_record.student.name %></td>
        <% last_index = gr.ordered_anypkg_grade.size - 1; gr.ordered_anypkg_grade.each.with_index do |component_grade,i| %>
        <td>
        <% if i == 0 %><%# Nilai Teori %>
          <div class="theory_edit" id="<%= gr.id %>_theory_grade"><%= render partial: 'grades/theory_grade', 
                                                                             locals: { :grades => gr.theory_grades } %></div>
        <% elsif i == 1 %><%# Nilai Praktek %>
          <div class="select_edit" id="<%= gr.id %>_exam_grade"><%= gr.exam_grade.grade_sum %></div>
        <% elsif i == last_index %>
          <div class="result_edit" id="<%= gr.id %>_result"><%= gr.result ? t(gr.result) : '-' %></div>
        <% else %>
          <div class="edit" id="<%= gr.id %>_<%= component_grade.id %>"><%= component_grade.value %></div>
        <% end %><%# end if %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate grades, renderer: BootstrapPagination::Rails %>
<br>

<script type="text/javascript">
$(document).ready(function() {
  $.editable.addInputType('number', {
    element : function(settings, original) {
      var input = $('<input type="number" style="width:50px;" min="0" step="0.1">');
      $(this).append(input);
      return(input);
    },
    submit : function (settings, original) {
      if (isNaN($(original).val())) {
        alert('You must provide a number')
        return false;
      } else {
        return true;
      }
    }
  });

  $.editable.addInputType('multi_number', {
    element: function(settings, original) {
      var grade_id = $(original).attr('id').split('_').shift();
      $(this).append( $('<input type="number" id="' + grade_id + '_theory_0" style="width:50px;" />') );
      $(this).append( $('<input type="number" id="' + grade_id + '_theory_1" style="width:50px;" />') );
      $(this).append( $('<br/>') );

      var hidden = $('<input type="hidden" id="' + grade_id + '_retval">');
      $(this).append(hidden);
      return(hidden);
    },
    submit: function (settings, original) {
      console.log("submit: " + $(original).attr('id'));
      var grade_id = $(original).attr('id').split('_').shift();
      var value = $('#' + grade_id + '_theory_0').val() + ' ' +
                  $('#' + grade_id + '_theory_1').val();
      $('#' + grade_id + '_retval', this).val(value);
    },
    content: function(string, settings, original) {
      var grade_id = $(original).attr('id').split('_').shift();
      console.log("string: " + string);
      var re = />([^<]+)<\/div/g;
      var match;
      var idx = 0;
      while (match = re.exec(string)) {
        console.log("match: " + match[1]);
        $('#' + grade_id + '_theory_' + idx, this).val(match[1]);
        idx++;
      }
    }
  });

  $('.theory_edit').editable('<%= grades_update_url %>', {
    type: 'multi_number',
    indicator: 'Saving...',
    submit: 'OK',
    cancel: 'cancel',
    submitdata: { _method: 'patch', type: 'theory' }
  });

  $('.edit').editable('<%= grades_update_url %>', {
    id: 'grade_component_id',
    name: 'component_value',
    type: 'number',
    indicator : 'Saving...',
    callback : function(value, settings) {
      console.log($(this).attr('id'));
      var grade_id = $(this).attr('id').split('_').shift();
      $(this).parents("td").next("td").find("div").click();
    },
    submitdata: { _method: 'patch', // required for rails
                     type: 'anypkg' }
  });

  $('.select_edit').editable('<%= grades_update_url %>', {
    cssclass: "form-control",
    loadurl: "/options_for_exam_grade.json",
    type: 'select',
    onblur: 'submit',
    submitdata: { _method: 'patch', type: 'exam_ref' }
  });

  $('.result_edit').editable('<%= grades_update_url %>', {
    cssclass: "form-control",
    loadurl: "/options_for_result.json",
    type: 'select',
    submit: 'OK',
    submitdata: { _method: 'patch', type: 'result' }
  });
});

$("#listing_grade tr td div").bind('keydown', function(event) {
  if (event.keyCode == 9) { //for tab key
    var currentDiv = event.target;
    $(currentDiv).parents("td").next("td").find("div").click();
    return false;
  }
});
</script>
