<div class='well well-small'>
  <div class='pull-right' data-intro='Reset the filter settings to defaults.' data-position='bottom'>
    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>
  </div>
  <div>
    <%= page_entries_info grades, :model => 'grade' %>
  </div>
  <div>
    <%= render_filterrific_spinner %>
  </div>
</div>

<%# unless grades.empty? %>
<% if grades.size > 0 and exam %>
<table class="table pretty table-hover table-striped">
  <thead>
    <tr>
      <th>Nama</th>
    <% exam.components.sort_by {|e| e.sequence}.each do |component| %>
      <th><%= component.name %></th>
    <% end %>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% grades.each do |gr| %>
      <tr>
        <td><%= gr.students_record.student.name %></td>
        <% gr.grade.keys.sort {|a,b| a.to_i <=> b.to_i }.each do |component| %>
        <td><%= gr.grade[component] || 'N/A' %>
        <% end %>
        <td><%= link_to 'Edit', edit_grade_path(gr) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate grades, renderer: BootstrapPagination::Rails %>
<br>
