<div class='well well-small'>
  <div class='pull-right' data-intro='Reset the filter settings to defaults.' data-position='bottom'>
    <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>
  </div>
  <div>
    <%= page_entries_info grades, :model => 'grade' %>
  </div>
  <div>
    <%= render_filterrific_spinner %>
  </div>
</div>

<% if grades.size > 0  %>
<table class="table pretty table-hover table-striped">
  <thead>
    <tr>
      <th rowspan="2">Nama</th>
      <th rowspan="2">Kursus</th>
      <th rowspan="2">Mulai</th>
      <th rowspan="2">Instruktur</th>
      <th colspan="2" style="text-align:center">Nilai</th>
      <th rowspan="2">Status</th>
      <th rowspan="2"></th>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <th style="text-align:center">Rata-rata Teori</th>
      <th style="text-align:center">Rata-rata Praktek</th>
    </tr>
  </thead>

  <tbody>
    <% grades.each do |grade| %>
      <tr>
        <td><%= grade.student.name %></div></td>
        <td><%= grade.pkg.pkg %> Level <%= grade.pkg.level %></td>
        <td><%= grade.students_record.started_on.strftime("%d %b %Y") %></td>
        <td><%= grade.instructor.nick %></td>
        <td style="text-align:center"><%= grade.avg_theory %></td>
        <td style="text-align:center"><%= grade.avg_practice %></td>
        <td><%= t(grade.students_record.status) %></td>
        <td style="text-align:center"><%= link_to 'Lihat', grade_path(grade) %></td>
        <td>
          <% if grade.passed? %>
          <span style="font-size:large; color:green" class="ion-checkmark-circled" />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= will_paginate grades, renderer: BootstrapPagination::Rails %>
<br>
