<h2>Entri Nilai</h2>

<div class="row">
  <div class="col-md-1"><h4>Nama</h4></div><div class="col-md-6"><h4>: <%= @grade.student.name %></h4></div>
</div>
<div class="row" style="margin-bottom: 20px">
  <div class="col-md-1"><h4>Kursus</h4></div><div class="col-md-6"><h4>: <%= @grade.pkg.pkg %> - Level <%= @grade.pkg.level %></h4></div>
</div>

<%= render 'form' %>

<%= link_to 'Show', @grade %> |
<%= link_to 'Back', grades_path %>
