<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<div>
  <ol>
    <li>Kelompok Dasar
      <ol>
        <li>Fisik, Mental, dan Disiplin (FMD)</li>
        <li>Motivasi Kerja</li>
        <li>Inisiatif dan Kreativitas</li>
        <li>Komunikasi</li>
      </ol>
    </li>
    <li>Kelompok Inti
      <ol>
        <li>Tes Teori</li>
        <li>Tes Praktek</li>
        <li>Pengetikan: Kecepatan (WPM)/ Ketelitian (%)</li>
        <li>Pengolahan Dokumen</li>
        <li>Pengolahan Table dan Grafik</li>
        <li>Kualitas Pekerjaan</li>
      </ol>
    </li>
  </ol>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
