<h2>Edit peserta ujian</h2>

<div class="well">
<%= form_for_filterrific @student_filterrific do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Tampilkan siswa yang mengikuti kursus</label>
        <%= f.select :with_current_pkg, @student_filterrific.select_options[:with_pkg],
                     { :include_blank => '- Semua -' },
                     { :class => 'form-control' }
        %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= form_tag(grades_path, {class: "form-inline", role: "form"}) do %>
  <div class="well" style="background:#99CCFF">
    <%# <legend>Memilih Soal untuk Peserta Ujian</legend>%>
    <div class="form-group">
      <%= label_tag :exam, "Pilih soal untuk peserta ujian", style: "padding-right:10px" %>
        <%= select_tag :exam, options_for_select(@instructor.options_for_exam), 
                     { :prompt => '- Judul soal -', class: "form-control" } %>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

<div id="filterrific_results">
  <%= render :partial => 'grades/list_students',
             :locals => { :students => @students, :instructor => @instructor }
  %>
</div>
<% end %>
