<h2>Edit peserta ujian</h2>

<% @grades.each do |grade| %>
  <% if grades.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="well">
<%= form_for_filterrific @student_filterrific do |f| %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Tampilkan siswa yang mengikuti kursus</label>
        <%= f.select :with_current_pkg, @student_filterrific.select_options[:with_pkg],
                     { :include_blank => '- Semua -' },
                     { :class => 'form-control' }
        %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= form_tag(grades_path, {class: "form-inline", role: "form"}) do %>
  <%= hidden_field_tag 'hfield' %>
  <div class="well" style="background:#99CCFF">
    <div class="form-group">
      <%= label_tag :exam, "Pilih soal untuk peserta ujian", style: "padding-right:10px" %>
        <%= select_tag :exam_id, options_for_select(@instructor.options_for_exam), 
                     { :prompt => '- Judul soal -', class: "form-control" } %>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

<div id="filterrific_results">
  <%= render :partial => 'grades/list_students',
             :locals => { :students => @students, :instructor => @instructor }
  %>
</div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $("#filterrific_with_current_pkg").change(function() {
//    alert("current_pkg: " + this.value);
    var hfield = document.getElementById('hfield');
    hfield.value = this.value;
    alert("hfield: " + hfield.value);
  });
});
</script>
