<!DOCTYPE html>
<html>
<head>
  <title>sistem informasi BLK Salesian Don Bosco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <% if flash[:alert] %>
        <p id="notice" class="has-error"><%= flash[:alert] %></p>
      <% end %>
      <%= form_tag({}, {:class => "form-signin", :role => "form"}) do %>
        <h2 class="form-signin-heading"><%= t(:please).capitalize %> <%= t("sign in") %></h2>
        <input type="text" class="form-control" placeholder="Username" name="username" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" name="password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember_me" value="remember-me" disabled> <%= t("remember me").capitalize %>
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit"><%= t("sign in").capitalize %></button>
      <% end %>

    </div> <!-- /container -->

</body>
</html>
<script type="text/javascript">
$(function() {
  var current = 0;
  var body = $('body');
  var backgrounds = ['url(/images/background/dark-wall.jpg)', 
                     'url(/images/background/depan-gedung.jpg)',
                     'url(/images/background/computer-course.jpg)',
                     'url(/images/background/get-to-know.jpg)',
                     'url(/images/background/learn-active.jpg)',
                     'url(/images/background/motorbike-maintenance.jpg)'
                    ];

  function nextBackground() {
    body.css({
      'background-image': backgrounds[current = ++current % backgrounds.length],
      'background-repeat': 'no-repeat',
      'background-attachment': 'fixed',
      'background-position': 'center',
      '-webkit-background-size': 'cover',
      '-moz-background-size': 'cover',
      '-o-background-size': 'cover',
      'background-size': 'cover',
      '-webkit-transition': 'background 1.5s linear',
      '-moz-transition': 'background 1.5s linear',
      '-o-transition': 'background 1.5s linear',
      '-ms-transition': 'background 1.5s linear',
      'transition': 'background 1.5s linear'
    });
    setTimeout(nextBackground, 5000);
  }

  setTimeout(nextBackground, 5000);

  body.css({
    'background-image': backgrounds[0],
    'background-repeat': 'no-repeat',
    'background-attachment': 'fixed',
    'background-position': 'center',
    '-webkit-background-size': 'cover',
    '-moz-background-size': 'cover',
    '-o-background-size': 'cover',
    'background-size': 'cover',
    '-webkit-transition': 'background 1.5s linear',
    '-moz-transition': 'background 1.5s linear',
    '-o-transition': 'background 1.5s linear',
    '-ms-transition': 'background 1.5s linear',
    'transition': 'background 1.5s linear'
  });
});
</script>
