<!DOCTYPE html>
<html>
<head>
  <title>sistem informasi BLK Salesian Don Bosco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <% if flash[:alert] %>
        <p id="notice" class="has-error"><%= flash[:alert] %></p>
      <% end %>
      <%= form_tag({}, {:class => "form-signin", :role => "form"}) do %>
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" name="password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <% end %>

    </div> <!-- /container -->

</body>
</html>
