<h1>Listing changes</h1>

<table>
  <thead>
    <tr>
      <th>Table name</th>
      <th>Action tstamp</th>
      <th>Action</th>
      <th>Original data</th>
      <th>New data</th>
      <th>Query</th>
      <th>Modified by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.table_name %></td>
        <td><%= change.action_tstamp %></td>
        <td><%= change.action %></td>
        <td><%= change.original_data %></td>
        <td><%= change.new_data %></td>
        <td><%= change.query %></td>
        <td><%= change.modified_by %></td>
        <td><%= link_to 'Show', change %></td>
        <td><%= link_to 'Edit', edit_change_path(change) %></td>
        <td><%= link_to 'Destroy', change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Change', new_change_path %>
