<h2>Changes History</h2>

<table class="table pretty table-hover table-striped">
  <thead>
    <tr>
      <th>Table</th>
      <th><%= sortable "action_tstamp", "Timestamp" %></th>
      <th>Action</th>
      <th>Original data</th>
      <th>New data</th>
      <th>Modified by</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.table_name %></td>
        <td><%= change.action_tstamp %></td>
        <td><%= change.action %></td>
        <td><%= change.original_data %></td>
        <td><%= change.new_data %></td>
        <td><%= change.modified_by %></td>
        <td><%= link_to 'Detail', change_path(change) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @changes, renderer: BootstrapPagination::Rails %>

