<div class="row">
  <div class="col-sm-7">
    <ul class="list-group">
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nama suami/istri</strong></span><%= show_bio("Nama suami/istri") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Pekerjaan</strong></span><%= show_bio("Pekerjaan") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">No. Telp/HP suami/istri</strong></span><%= show_bio("No. Telp/HP suami/istri") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Jumlah anak</strong></span><%= show_bio("Jumlah anak") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Tanggungan keluarga</strong></span><%= show_bio("Tanggungan keluarga") %></li>
    </ul>
  </div>
</div>
