<%= form_for(@student, html: { class: "form-horizontal", role: "form"}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Data Pribadi
        </h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body">
        <%= render partial: 'personal_bio_form', locals: {f: f} %>
        </div>
      </div>
    </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Data Orang Tua</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'parents_bio_form', locals: {f: f} %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Data Keluarga (bagi yang sudah menikah)</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'family_bio_form', locals: {f: f} %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Riwayat Pendidikan</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'schools_bio_form', locals: {f: f} %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Pengalaman Bekerja</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'work_experiences_bio_form', locals: {f: f} %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Survey</a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'survey_bio_form', locals: {f: f} %>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
