<%= bootstrap_form_for(@student, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, label: "Nama Lengkap" %>
<%= f.form_group :sex do %>
<%= f.radio_button :sex, "female", label: "Perempuan" %>
<%= f.radio_button :sex, "male", label: "Laki-laki" %>
<% end %>
  </div>
  <div class="field">
    <%= f.phone_field :phone, label: "Telpon" %>
  </div>
  <div class="field">
    <%= f.text_field :note, label: "Keterangan" %>
  </div>
  <div class="field">
    <%= f.number_field :modified_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
