<div class="row">
  <div class="col-sm-7">
    <ul class="list-group">
      <li class="list-group-item text-muted" contenteditable="false">Data Ayah</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nama Lengkap</strong></span><%= show_bio("Nama Ayah") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Masih Hidup?</strong></span><%= show_bio("Ayah Masih Hidup") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Status Pernikahan</strong></span><%= show_bio("Status Pernikahan Ayah") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Pekerjaan</strong></span><%= show_bio("Pekerjaan Ayah") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Telpon</strong></span><%= show_bio("No. Telp/HP Ayah") %></li>
      <li class="list-group-item text-muted" contenteditable="false">Data Ibu</li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nama Lengkap</strong></span><%= show_bio("Nama Ibu") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Masih Hidup?</strong></span><%= show_bio("Ibu Masih Hidup") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Status Pernikahan</strong></span><%= show_bio("Status Pernikahan Ibu") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Pekerjaan</strong></span><%= show_bio("Pekerjaan Ibu") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Telpon</strong></span><%= show_bio("No. Telp/HP Ibu") %></li>
    </ul>
  </div>
</div>
