<div class="row">
  <div class="col-sm-7">
    <ul class="list-group">
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nama Panggilan</strong></span><%= show_bio("Nama Panggilan") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Menikah?</strong></span><%= show_bio("Menikah") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Agama</strong></span><%= @student.religion %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Tanda Pengenal</strong></span><%= show_bio("Tanda Pengenal") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Nomor Tanda Pengenal</strong></span><%= show_bio("Tanda Pengenal Nomor") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Berlaku sampai</strong></span><%= show_bio("Tanda Pengenal Berlaku") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Hobi</strong></span><%= show_bio("Hobi") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Jumlah saudara perempuan</strong></span><%= show_bio("Jumlah saudara perempuan") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Jumlah saudara laki-laki</strong></span><%= show_bio("Jumlah saudara laki-laki") %></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Saya anak ke</strong></span><%= show_bio("Saya anak ke") %></li>
    </ul>
  </div>
</div>
