    <div class="form-group">
      <%= f.label :name, "Nama Lengkap", class: "control-label col-sm-3" %>
      <div class="col-xs-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sex, "Jenis kelamin", class: "control-label col-sm-3 sr-only" %>
      <div class="col-sm-7 form-inline">
        <div class="radio form-control">
          <label><%= f.radio_button :sex, "female" %>Perempuan</label>
        </div>

        <div class="radio form-control">
          <label><%= f.radio_button :sex, "male" %>Laki-laki</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :avatar, "Foto", class: "control-label col-sm-3" %>
      <div class="col-xs-4">
        <%= f.file_field :avatar, class: "form-control", accept: "image/png,image/gif,image/jpeg" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :birthplace, "Tempat, Tanggal Lahir", class: "control-label col-sm-3" %>
      <div class="col-sm-7 form-inline">
          <%= f.text_field :birthplace, class: "form-control" %>

          <div class='input-group date'>
            <input type='text' id="student_birthdate" name="student[birthdate]" class="form-control" data-date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" value="<%= @student.birthdate %>"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
<script type="text/javascript">
$(function () {
  $('.date').datetimepicker({
    pickTime: false
  });
});
</script>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :street_address, "Alamat", class: "control-label col-sm-3" %>
      <div class="col-sm-4">
        <%= f.text_area :street_address, size: "40x3", class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :district, "Kecamatan", class: "control-label sr-only col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :district, class: "typeahead", placeholder: "Kecamatan" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :regency_city, "Kota/kabupaten", class: "control-label sr-only col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :regency_city, class: "typeahead", placeholder: "Kota/kabupaten" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :phone, "Telpon", class: "control-label col-sm-3" %>
      <div class="col-xs-2">
        <%= f.telephone_field :phone, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "student[biodata][Hobi]", "Hobi", class: "control-label col-sm-3" %>
      <div class="col-xs-4">
        <%= text_field_tag "student[biodata][Hobi]", @student.biodata && @student.biodata["Hobi"], class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "student[biodata][Jumlah saudara laki-laki]", "Jumlah saudara", class: "control-label col-sm-3" %>
      <div class="col-sm-7 form-inline">
        <label for="student[biodata][Jumlah saudara perempuan]">Perempuan: </label>
        <div class="input-group col-sm-2">
          <%= number_field_tag "student[biodata][Jumlah saudara perempuan]", @student.biodata && @student.biodata['Jumlah saudara perempuan'], 
              min: 0, class: "form-control" %>
        </div>

        <label for="student[biodata][Jumlah saudara laki-laki]" style="padding-left:20px;">Laki-laki: </label>
        <div class="input-group col-sm-2">
          <%= number_field_tag "student[biodata][Jumlah saudara laki-laki]", @student.biodata && @student.biodata['Jumlah saudara laki-laki'], 
              min: 0, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "student[biodata][Saya anak ke]", "Saya anak ke", class: "control-label col-sm-3" %>
      <div class="col-sm-2">
        <%= number_field_tag "student[biodata][Saya anak ke]", @student.biodata && @student.biodata['Saya anak ke'], 
            min: 1, class: "form-control" %>
      </div>
    </div>

<script type="text/javascript">

var districtNames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: '<%= district_suggestions_students_url %>.json?q=%QUERY'
});

var regencyNames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: '<%= regency_suggestions_students_url %>.json?q=%QUERY'
});

districtNames.initialize();
regencyNames.initialize();

// #student_district events
$('#student_district').typeahead({
  hint: true,
  highlight: true,
  minLength: 3
}, 
{
  name: 'district-names',
  displayKey: 'name',
  source: districtNames.ttAdapter()
});

$('#student_district').on('typeahead:selected', function (e, datum) {
  console.log("district selected");
  $('#student_district').val(datum.name);
});
$('#student_district').on('typeahead:opened', function (e, datum) {
  console.log("district opened");
});

// student_regency_city events
$('#student_regency_city').typeahead({
  hint: true,
  highlight: true,
  minLength: 3
}, 
{
  name: 'regency-names',
  displayKey: 'name',
  source: regencyNames.ttAdapter()
});

$('#student_regency_city').on('typeahead:selected', function (e, datum) {
  console.log("regency/city selected");
  $('#student_regency_city').val(datum.name);
});
$('#student_regency_city').on('typeahead:opened', function (e, datum) {
  console.log("regency/city opened");
});

</script>
