<% unless @my_packages.empty? %>
  <p style="padding-top: 20px;"><strong>Kursus<%= @my_packages.size > 1 ? "-paket" : "" %> yang saat ini sedang diambil</strong></p>
  <table class="table" style="width: 60%;">
    <tbody>
      <% @my_packages.each do |my_package| %>
      <tr>
        <td><%= my_package.pkg %> Level <%= my_package.level %></p></td>
        <td><%= link_to remove_pkg_student_path(@student, my_package), method: :delete, 
                data: { confirm: 'Are you sure?' }, :class => "btn btn-info btn-xs" do  %>
            <i class="glyphicon glyphicon-remove">Hapus</i>
            <% end %>
        </td>
        <td><%= link_to finish_pkg_student_path(@student, my_package), method: :delete, 
                data: { confirm: 'Apakah benar lulus?' }, :class => "btn btn-info btn-xs" do  %>
            <i class="glyphicon glyphicon-ok">Lulus</i>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="form-group">
  <%= f.label :foo, "Tambah Kursus", class: "control-label col-sm-2" %>
  <div class="col-sm-7 form-inline">
    <div class="form-group col-xs-6">
      <%= f.grouped_collection_select :pkg_id, @packages, :levels, :pkg_name, :id, :level,
                                      {selected: nil, prompt: "Pilih paket"}, 
                                      {class: "form-control"}
      %>
    </div>
  </div>
</div>
