  <% ["SD", "SLTP", "SLTA", "Sekolah Tinggi"].each do |edu| %>
    <div class="form-group" style="padding-left:20px">
      <%= f.label "student[biodata][#{edu}]", edu, class: "col-label col-sm-2", style: "vertical-align:middle;" %>
      <div class="form-inline">
        <div class="input-group col-sm-5">
          <%= text_field_tag "student[biodata][#{edu}]", @student.biodata && @student.biodata[edu], placeholder: "Nama / Alamat Sekolah", class: "form-control" %>
        </div>
        <div class="input-group"  style="padding-left:10px">Tahun: </div>
        <div class="input-group col-sm-1">
          <%= text_field_tag "student[biodata][#{edu} Mulai]", @student.biodata && @student.biodata["#{edu} Mulai"], placeholder: "mulai", class: "form-control" %>
        </div>
        <div class="input-group"> - </div>
        <div class="input-group col-sm-1">
          <%= text_field_tag "student[biodata][#{edu} Sampai]", @student.biodata && @student.biodata["#{edu} Sampai"], placeholder: "sampai", class: "form-control" %>
        </div>
          <div class="checkbox form-control">
            <%= label_tag "student[biodata[#{edu} Lulus]" do %>
              <%= check_box_tag "student[biodata[#{edu} Lulus]", "Lulus", @student.biodata && @student.biodata["#{edu} Lulus"] %>
              Lulus
            <% end %>
          </div>
      </div>
    </div>
  <% end %>

    <div class="form-group" style="padding-left:20px">
      <%= f.label "student[biodata][Kursus #1]", "Kursus #1", class: "sr-only" %>
      <div class="form-inline">
        <div class="input-group col-md-3">
          <%= text_field_tag "student[biodata][Kursus #1]", @student.biodata && @student.biodata["Kursus #1"], placeholder: "Kursus yang pernah diikuti", class: "form-control" %>
        </div>

        <div class="input-group col-md-4">
          <%= text_field_tag "student[biodata][Kursus #1 Tempat]", @student.biodata && @student.biodata["Kursus #1 Tempat"], placeholder: "Nama / Tempat kursus", class: "form-control" %>
        </div>
      
        <div class="input-group">
          <%= text_field_tag "student[biodata][Kursus #1 Tahun]", @student.biodata && @student.biodata["Kursus #1 Tahun"], placeholder: "Tahun", class: "form-control" %>
        </div>
      </div>
    </div>
