<p id="notice"><%= notice %></p>
<%= render partial: 'shared/student_navbar' %>
<h3><%= @student.name %></h3>

<%= render 'form' %>

<p>
<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
</p>
