<h2>Editing student</h2>

<%= render 'form' %>

<%= link_to new_user_path, class: "btn btn-info" do %>Ubah Data Siswa<% end %>
<%= link_to new_user_path, class: "btn btn-info" do %>Atur Paket yang Diambil<% end %>
<%= link_to new_user_path, class: "btn btn-info" do %>Atur Jadwal<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
