<h2>Daftar Siswa</h2>

<table class="table pretty table-hover table-striped">
  <thead>
    <tr>
      <th><%= sortable "name", "Nama" %></th>
      <th>Tempat, Tanggal Lahir</th>
      <th><%= sortable "registered_at", "Tanggal Pendaftaran" %></th>
      <th><%= sortable "created_at", "Tanggal Entri Data" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to "#{student.name} (#{student.sex == "male" ? "L" : "P"})", student %></td>
        <td><%= student.birthplace %>, <%= student.birthdate %></td>
        <td><%= student.registered_at.to_date %></td>
        <td><%= student.created_at.to_date %></td>
        <td>
          <span style="font-size:large" 
            class="ion-ios-lightbulb<%= @active_students.key?(student.id) ? "-outline" : '' %>" data-pack="default">
          </span>
        </td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @students, renderer: BootstrapPagination::Rails %>
<br>
