<h2>Daftar Siswa</h2>

<div class="well">
<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Agama</label>
        <%= f.select :with_religion, @filterrific.select_options[:with_religion],
                     { :include_blank => '- Semua -' },
                     { :class => 'form-control' }
        %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Terdaftar setelah</label>
        <%= f.text_field :with_registered_at_gt,
                         :class => 'js-datepicker form-control'
        %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>Terdaftar sebelum</label>
        <%= f.text_field :with_registered_at_lt,
                         :class => 'js-datepicker form-control'
        %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Urutkan</label>
        <%= f.select :sorted_by, @filterrific.select_options[:sorted_by],
                     { },
                     { :class => 'form-control' }
        %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Sudah bekerja?</label>
        <%= f.select :with_employment, @filterrific.select_options[:with_employment],
                     {  :include_blank => '- Pilih -' }, 
                     { :class => 'form-control' }
        %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="checkbox form-control">
          <label><%= f.check_box :who_left_pkg %>Pernah keluar</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="checkbox form-control">
          <label><%= f.check_box :with_multiple_completion_on_same_pkg %>Lulus kursus yang sama lebih dari 1 kali</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="checkbox form-control">
          <label><%= f.check_box :with_broken_pkg_dates %>Tanggal kursus tidak wajar</label>
      </div>
    </div>
  </div>
<% end %>
</div>

<div id="filterrific_results">
  <%= render :partial => 'students/list', 
             :locals => { :students => @students, 
                          :active_students => @active_students } %>
</div>

<script type="text/javascript">
function show_bootstrap_dialog() {
  var my_id = $(this).attr("id");

  BootstrapDialog.show({
    onhidden: function(dialogRef){
                if (dialogRef.getData("button") == "Edit Data") {
                  //alert('Dialog is popped down: ' + dialogRef.getData("button"));
                  window.location = '/students/' + my_id + '/edit';
                }
                if (dialogRef.getData("button") == "Edit Riwayat Kursus") {
                  window.location = '/students_records/' + my_id;
                }
              },
    size: BootstrapDialog.SIZE_WIDE,
    buttons: [
      {
        label: 'Edit Data',
        cssClass: 'btn-primary',
        action: function(dialogItself) {
                  dialogItself.setData("button", "Edit Data")
                  dialogItself.close();
                }
      },
      {
        label: 'Edit Riwayat Kursus',
        cssClass: 'btn-primary',
        action: function(dialogItself) {
                  dialogItself.setData("button", "Edit Riwayat Kursus")
                  dialogItself.close();
                }
      },
      {
        label: 'Tutup',
        cssClass: 'btn-warning',
        icon: 'glyphicon glyphicon-ban-circle',
        action: function(dialogItself) {
                  dialogItself.setData("button", "Tutup")
                  dialogItself.close();
                }
      }
    ],
    message: $('<div></div>').load('/students/' + my_id + '?brief=1')
  });
}

$(function() {
  $('.js-datepicker').datepicker({
    language: "id",
    format: 'dd/mm/yyyy'
  });

  $("body").on("click", ".open_dialog", show_bootstrap_dialog);
});

$(document).ajaxStop(function() {
  $("body").off("click", ".open_dialog", show_bootstrap_dialog);
  $("body").on("click", ".open_dialog", show_bootstrap_dialog);
});
</script>
