<%= render partial: 'shared/student_navbar' %>

<h3><%= @student.name %></h3>

<%= form_for(@student, html: { class: "form-horizontal", role: "form"}) do |f| %>
  <%= render partial: 'pkgs_form', locals: {f: f} %>
  <div class="actions">
    <%= f.submit "Update Kursus" %>
  </div>
<% end %>
