<%= render partial: 'shared/student_navbar' %>
<p id="notice"><%= notice %></p>

<h2><%= @student.name %></h2>

<div class="clearfix" style="padding-top:20px;">
<%= image_tag @student.avatar.url(:medium), style: "float:left;padding-bottom:20px;padding-right:20px;" %>

<dl style="font-size:large;">
  <dt sytle="float:left;width:50px;">Jenis kelamin</dt>
  <dd style="margin-left:100px;"><%= @student.sex == 'male' ? 'Laki-laki' : 'Perempuan' %></dd>
</dl>

<dl style="font-size:large;">
  <dt style="white-space:normal;">Tempat, tanggal lahir</dt>
  <dd><%= @student.birthplace %>, <%= @student.birthdate %></dd>
</dl>

<dl style="font-size:large;">
  <dt>Nomor Telpon</dt>
  <dd><%= @student.phone %></dd>
</dl>

</div>

<div style="padding-top: 30px;">
<p style="">
  <strong>Created at:</strong>
  <%= @student.created_at %>
</p>

<p>
  <strong>Modified at:</strong>
  <%= @student.modified_at %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= @student.modified_by %>
</p>
</div>

<%#= link_to 'Back', students_path %>
