<p id="notice"><%= notice %></p>
<%= render partial: 'shared/student_navbar' %>

<div id="biodata" class="clearfix" style="padding-top:20px;">
  <div class="outer">
    <div class="inner">
      <%= image_tag @student.avatar.url(:medium) %>
    </div>
  </div>

  <div class="data">
    <h1><%= @student.name %> <span class="ionicons ion-<%= @student.sex %>" style="padding-left:20px"></span></h1>
    <h3>Kelahiran <%= @student.birthdate %>, di <%= @student.birthplace %></h3>
    <h3>
      <i class="glyphicon glyphicon-phone"></i> <%= @student.phone %> 
      <i class="glyphicon glyphicon-envelope" style="padding-left:30px;"></i> <%= @student.email %>
    </h3>
    <div class="sep"></div>
    <% if @student.street_address %>
      <% @student.street_address.split("\n").each do |addr_line| %>
        <h4><%= addr_line %></h4>
      <% end %>
    <% end %>
    <h4><%= @student.district %>, <%= @student.regency_city %></h4>

    <div class="regdate">
      <p>Tanggal pendaftaran: <%= @student.registered_at.to_date %>, entri data: <%= @student.created_at.to_date %></p>
    </div>
  </div>
</div>

<div style="padding-top: 20px; max-width: 862px;">
<% if @records.empty? %>
<div class="alert alert-danger" role="alert">Belum memiliki catatan kursus.</div>
<% else %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="max-width:15px;">Kursus</th>
      <th style="max-width:40px;text-align:center;">Mulai</th>
      <th style="max-width:40px;text-align:center;">Selesai</th>
      <th style="max-width:30px;">Status</th>
      <th colspan="3" style="max-width:50px;"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td style="max-width:150px;"><%= record.pkg.program.program %> - <%= record.pkg.pkg %> Lev.<%= record.pkg.level %></td>
        <td style="max-width:40px;text-align:center;"><%= record.started_on.strftime("%d %b %Y") %></td>
        <td style="max-width:40px;text-align:center;"><%= record.finished_on && record.finished_on.strftime("%d %b %Y") %></td>
        <td style="max-width:30px;"><%= t(record.status) %></td>
        <td style="max-width:20px;text-align:center;"><%= link_to 'Edit', edit_students_record_path(record) %></td>
        <td style="max-width:30px;text-align:center;"><%= link_to 'Jadwal', edit_student_schedule_index_path(@student, record.pkg) unless record.finished_on %></td>
        <td style="max-width:30px;text-align:center;">
<% if @current_group == "sysadmin" and record.status != "active" %>
<%= link_to 'Hapus', students_record_path(record), method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<%= link_to 'Hapus', students_record_path(record), method: :delete, class: "destroy_students_record_tip", data: { confirm: 'Are you sure?' } if record.destroyable? %>
<% end %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>

<div class="panel-group" id="accordion" style="padding-top: 10px; max-width: 862px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Data Pribadi</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'personal_bio' %>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Data Orang Tua</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'parents_bio' %>
        </div>
      </div>
    </div>

  <% if current_bio("Menikah") == "ya" %>
    <div class="panel panel-default" id="panel_data_keluarga">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Data Keluarga (bagi yang sudah menikah)</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
        <%= render partial: 'family_bio' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div style="padding-top: 30px; text-align: right; max-width: 862px;">
<p>
  <strong>Perubahan terakhir:</strong>
  <%= @student.modified_at %>
  <strong>oleh:</strong>
  <%= @student.modified_by %>
</p>
</div>

