<%= render partial: 'shared/student_navbar' %>
<p id="notice"><%= notice %></p>

<h3><%= @student.name %></h3>

<dl class="dl-horizontal" style="font-size:large;">
  <dt>Jenis kelamin</dt>
  <dd><%= @student.sex == 'male' ? 'Laki-laki' : 'Perempuan' %></dd>
</dl>

<dl class="dl-horizontal" style="font-size:large;">
  <dt style="white-space:normal;">Tempat, tanggal lahir</dt>
  <dd><%= @student.birthplace %>, <%= @student.birthdate %></dd>
</dl>

<dl class="dl-horizontal" style="font-size:large;">
  <dt>Nomor Telpon</dt>
  <dd><%= @student.phone %></dd>
</dl>

<dl class="dl-horizontal" style="font-size:large;">
  <dt>Keterangan</dt>
  <dd><%= @student.note %></dd>
</dl>

<p>
  <strong>Created at:</strong>
  <%= @student.created_at %>
</p>

<p>
  <strong>Modified at:</strong>
  <%= @student.modified_at %>
</p>

<p>
  <strong>Modified by:</strong>
  <%= User.find_by(id: @student.modified_by).username %>
</p>

<%#= link_to 'Back', students_path %>
