<h3><%= @student.name %> <span class="ionicons ion-<%= @student.sex %>" style="padding-left:20px"></span></h3>

<div class="data" style="padding-top: 10px;">
  <h4>Tempat / Tanggal Lahir: <%= @student.birthplace %>, <%= @student.birthdate %></h4>
</div>

<div style="padding-top: 20px; max-width: 862px;">
<% if @records.empty? %>
<div class="alert alert-danger" role="alert">Belum memiliki catatan kursus.</div>
<% else %>
  <%= render :partial => 'shared/students_records',
             :locals => { :student => @student,
                          :records => @records,
                          :for_instructor => true,
                          :current_group => @current_group } %>

<% end %>
</div>

<% unless @certs.empty? %>
<div style="padding-top: 20px; max-width: 862px;">
  <%= render :partial => 'shared/certs',
             :locals => { :certs => @certs } %>
</div>
<% end %>
