<%= bootstrap_form_for(@program, layout: :horizontal, label_col: "col-sm-2", control_col: "col-xs-4") do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :program %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
