<%= form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :nick %><br>
    <%= f.text_area :nick %>
  </div>
  <div class="field">
    <%= f.label :modified_at %><br>
    <%= f.datetime_select :modified_at %>
  </div>
  <div class="field">
    <%= f.label :modified_by %><br>
    <%= f.number_field :modified_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
