<%= form_for(@instructor, html: { class: "form-horizontal", role: "form"}) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nama Lengkap", class: "control-label col-sm-2" %>
    <div class="col-xs-4">
      <%= f.text_field :name, label: "Nama Lengkap", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, "Nick name", class: "control-label col-sm-2" %>
    <div class="col-xs-2">
      <%= f.text_field :nick, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :program_ids, "Program", class: "control-label col-sm-2" %>
    <% @programs.each_with_index do |program,idx| %>
      <% if idx == 0 %>
      <div class="col-sm-7">
      <% else %>
      <div class="col-sm-offset-2 col-sm-7">
      <% end %>
        <div class="form-group col-sm-7">
          <div class="checkbox" %>
            <%= label_tag 'program_ids[]' do %>
              <%= check_box_tag 'program_ids[]', program.id, false, {multiple: true} %> <%= program.program %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label 'init_default_schedule', "Jadwal Default?", class: "control-label col-sm-2" %>
    <div class="col-sm-7"
    <%= label_tag 'init_default_schedule' do %>
    <%= check_box_tag 'init_default_schedule', true %> Ya, Senin s/d Sabtu semua jam, kecuali Rabu jam ke-4.
    <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
