<h2>Daftar Instruktur</h2>

<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nama Lengkap</th>
      <th>Nick</th>
      <th style="text-align:center;">Kapasitas</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= link_to instructor.name, instructor %></td>
        <td><%= link_to instructor.nick, instructor %></td>
        <td style="text-align:center;"><%= instructor.capacity %></td>
        <td><%= link_to edit_instructor_path(instructor), :class => "btn btn-info btn-xs" do %>
            <i class="glyphicon glyphicon-pencil"> Edit</i>
            <% end %>
        </td>
        <td><%= link_to edit_schedule_instructor_path(instructor), :class => "btn btn-success btn-xs" do %>
            <i class="glyphicon glyphicon-calendar"> Jadwal</i>
            <% end %>
        </td>
      <% if instructor.is_destroyable? %>
        <td><%= link_to instructor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" do %>
            <i class="glyphicon glyphicon-remove"> Delete</i>
            <% end %>
        </td>
      <% else %>
        <td><%= link_to instructor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs disabled" do %>
            <i class="glyphicon glyphicon-remove"> Delete</i>
            <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to new_instructor_path, :class => "btn btn-info" do %>
  <i class="glyphicon glyphicon-plus"> Instruktur Baru</i>
<% end %>
