<%= bootstrap_form_for(@schedule, layout: :horizontal, label_col: "col-sm-2", control_col: "col-xs-4") do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :label, label: "Label", control_col: "col-xs-2", placeholder: "Jam ke-x" %>
  </div>
  <div class="field">
    <%= f.text_field :time_slot, control_col: "col-xs-2", placeholder: "hh:mm - hh:mm" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
