<h2>Slot Jadwal</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Time slot</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.label %></td>
        <td><%= schedule.time_slot %></td>
        <td><%= link_to edit_schedule_path(schedule), :class => "btn btn-info btn-xs" do %>
            <i class="glyphicon glyphicon-pencil"> Edit</i>
            <% end %>
        </td>
      <% if schedule.is_destroyable? %>
        <td><%= link_to schedule, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" do %>
            <i class="glyphicon glyphicon-remove"> Delete</i>
            <% end %>
        </td>
      <% else %>
        <td><%= link_to schedule, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs disabled" do %>
            <i class="glyphicon glyphicon-remove"> Delete</i>
            <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_schedule_path, :class => "btn btn-info" do %>
  <i class="glyphicon glyphicon-plus"> Jadwal Baru</i>
<% end %>
