<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @schedule.label %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @schedule.time_slot %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
