<ul class="nav nav-pills">
  <li class="<%= active_tab_class(student_path(@student)) %>"><%= link_to "Data Siswa", student_path(@student) %></li>
  <li class="<%= active_tab_class(edit_student_path(@student)) %>"><%= link_to "Ubah Data", edit_student_path(@student) %></li>
  <li class="<%= active_tab_class(new_students_records_path(@student)) %>"><%= link_to "Ambil Kursus Baru", new_students_records_path(@student) %></li>
  <li class="<%= active_tab_class(student_schedule_path(@student)) %>"><%= link_to "Lihat Jadwal", student_schedule_path(@student) %></li>
  <li class="<%= active_tab_class(students_record_path(@student)) %>"><%= link_to "Riwayat Kursus", students_record_path(@student) %></li>
  <li class="<%= active_tab_class(student_certs_path(@student)) %>"><%= link_to "Sertifikat", student_certs_path(@student) %></li>
</ul>
