
<%= bootstrap_form_for(@student, url: student_schedule_path) do |f| %>
  <%= f.hidden_field :id %>
  <table class="table table-striped">
    <caption><%= "#{@pkg.pkg} Level #{@pkg.level}" %></caption>
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>SEN</th>
        <th>SEL</th>
        <th>RAB</th>
        <th>KAM</th>
        <th>JUM</th>
        <th>SAB</th>
      </tr>
    </thead>

    <tbody>
      <% @pkgs_schedules_instructors.each do |psi_row| %>
      <tr>
        <td><%= psi_row.shift %></td>
        <% psi_row.each do |psi_cell| %>
          <td><% psi_cell.each do |e| %>
            <%= f.check_box(:pkgs_schedules_instructor_ids, 
                          {multiple: true, label: "#{e.avail_seat} (#{e.instructor.nick})"}, 
                          e.id, nil)
            %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
