
<%= form_for(pkg[:students_pkg], url: student_schedule_path(pkg[:students_pkg].id)) do |f| %>
  <table class="table table-striped">
    <caption><h3><%= pkg[:name] %></h3></caption>
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>SEN</th>
        <th>SEL</th>
        <th>RAB</th>
        <th>KAM</th>
        <th>JUM</th>
        <th>SAB</th>
      </tr>
    </thead>

    <tbody>
      <% pkg[:rows].each_with_index do |row,sched_idx| %>
      <tr>
        <td style="vertical-align:middle;"><%= row.shift %></td>
        <% row.each_with_index do |cell,day_idx| %>
          <td>
          <% cell.each do |e| %>
            <div class="checkbox">
            <%= f.check_box(:instructors_schedule_ids, 
                            {multiple: true, id: "schedules_#{sched_idx}_#{day_idx}_#{pkg_idx}_#{e.id}"}, 
                            e.id, nil)
            %> <%= "#{e.avail_seat} (#{e.instructor.nick})" %>
            </div>
          <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
