<h2>StudentSchedule#edit</h2>

<% if true %>
<h3><%= @student.name %></h3>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'schedule_form' %>

<% else %>

<p><%= @student.name %> saat ini sedang tidak mengikuti paket apapun.</p>
<%= link_to "Tambahkan Paket", edit_student_path, :class => "btn btn-info btn-primary" %>
<% end %>

