<p id="notice"><%= notice %></p>

<h2>StudentSchedule#show</h2>

<% if @my_packages.empty? %>

<p>Siswa <%= @student.name %> saat ini sedang tidak mengikuti kursus apapun.</p>

<% else %>

<h3><%= @student.name %></h3>

<% @my_packages.each do |pkg| %>
  <table class="table table-striped">
    <caption><%= pkg[:name] %></caption>
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>SEN</th>
        <th>SEL</th>
        <th>RAB</th>
        <th>KAM</th>
        <th>JUM</th>
        <th>SAB</th>
      </tr>
    </thead>

    <tbody>
      <% pkg[:rows].each do |row| %>
      <tr>
        <td><%= row.shift %></td>
        <% row.each do |cell| %>
          <td><%= cell %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% end %>

<%= link_to 'Edit', edit_student_schedule_path(@student) %> 

