<%= form_for(@students_record, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @students_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@students_record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @students_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :student_id %>
  <div class="form-group">
    <%= f.label :pkg_id, "Kursus", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group">
        <% if controller.action_name == "edit" %>
          <p class="form-control-static"><%= @students_record.pkg.pkg %> Level <%= @students_record.pkg.level %></p>
          <%= f.hidden_field :pkg_id %>
        <% else %>
          <%= f.select :pkg_id, grouped_options_for_select(@grouped_options), { prompt: "Pilih kursus"}, { class: "form-control"} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :started_on, "Tanggal mulai", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group">
      <%= f.date_field :started_on, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :finished_on, "Tanggal selesai", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group">
      <%= f.date_field :finished_on, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, "Tidak lulus", class: "sr-only control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group checkbox">
          <label>
            <%= f.check_box :status, {}, "failed", "finished" %> <%= t('failed') %>
          </label>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>

<script type="text/javascript">
$(function() {
  var enable_disable_status_checkbox = function() {
    var finished_on = $.trim($('#students_record_finished_on').val());
    if (finished_on) {
      $('#students_record_status').removeAttr("disabled");
    } else {
      $('#students_record_status').attr("disabled", true);
    }
  }

  enable_disable_status_checkbox();

  $('#students_record_finished_on').change(function() {
    // alert( "Handler for .change() called." );
    enable_disable_status_checkbox();
  });
});
</script>
