<%= form_tag(students_records_path, {class: "form-horizontal", role: "form"}) do %>
  <div class="form-group">
    <%= label_tag :pkg_id, "Kursus", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group">
        <%= select_tag :pkg_id, grouped_options_for_select(@grouped_options), class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :started_on, "Tanggal mulai", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group">
      <%= date_field_tag :started_on, nil, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :finished_on, "Tanggal selesai", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <div class="form-group">
      <%= date_field_tag :finished_on, nil, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
