%h1 Listing students_records

%table
  %tr
    %th Student
    %th Pkg
    %th Started on
    %th Finished on
    %th Status
    %th Modified at
    %th Modified by
    %th
    %th
    %th

  - @students_records.each do |students_record|
    %tr
      %td= students_record.student_id
      %td= students_record.pkg_id
      %td= students_record.started_on
      %td= students_record.finished_on
      %td= students_record.status
      %td= students_record.modified_at
      %td= students_record.modified_by
      %td= link_to 'Show', students_record
      %td= link_to 'Edit', edit_students_record_path(students_record)
      %td= link_to 'Destroy', students_record, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Students record', new_students_record_path
