<p id="notice"><%= notice %></p>
<%= render partial: 'shared/student_navbar' %>

<h3><%= @student.name %></h3>

<% if @records.empty? %>
<div class="alert alert-danger" role="alert">Belum memiliki catatan kursus.</div>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Kursus</th>
      <th>Mulai tanggal</th>
      <th>Selesai tanggal</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.pkg.pkg %> Lev.<%= record.pkg.level %></td>
        <td><%= record.started_on.strftime("%d %b %Y") %></td>
        <td><%= record.finished_on && record.finished_on.strftime("%d %b %Y") %></td>
        <td><%= t(record.status) %></td>
        <td><%= link_to 'Edit', edit_students_record_path(record) %></td>
        <td><%= link_to 'Jadwal', edit_student_schedule_index_path(@student, record.pkg) unless record.finished_on %></td>
        <td><%= link_to('Hapus', students_record_path(record), method: :delete, class: "destroy_students_record_tip", data: { confirm: 'Are you sure?' }) if record.destroyable? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
