<p id="notice"><%= notice %></p>
<%= render partial: 'shared/student_navbar' %>

<h3><%= @student.name %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Kursus</th>
      <th>Mulai tanggal</th>
      <th>Selesai tanggal</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.pkg.pkg %> Lev.<%= record.pkg.level %></td>
        <td><%= record.started_on.strftime("%d %b %Y") %></td>
        <td><%= record.finished_on && record.finished_on.strftime("%d %b %Y") %></td>
        <td><%= record.status %></td>
        <td><%= link_to 'Edit', edit_students_record_path(record) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

