%p#notice= notice

%p
  %b Student:
  = @students_record.student_id
%p
  %b Pkg:
  = @students_record.pkg_id
%p
  %b Started on:
  = @students_record.started_on
%p
  %b Finished on:
  = @students_record.finished_on
%p
  %b Status:
  = @students_record.status
%p
  %b Modified at:
  = @students_record.modified_at
%p
  %b Modified by:
  = @students_record.modified_by

= link_to 'Edit', edit_students_record_path(@students_record)
\|
= link_to 'Back', students_records_path
