<p id="notice"><%= notice %></p>
<%= render partial: 'shared/student_navbar' %>

<h3><%= @student.name %></h3>

<% if @records.empty? %>
<div class="alert alert-danger" role="alert">Belum memiliki catatan kursus.</div>
<% else %>

  <%= render :partial => 'shared/students_records',
             :locals => { :student => @student,
                          :records => @records,
                          :current_group => @current_group } %>

<% end %>
<%= link_to 'Back', url_for(:back) %>
