<%= bootstrap_form_for(@pkg, layout: :horizontal, label_col: "col-sm-2", control_col: "col-xs-4") do |f| %>
  <% if @pkg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pkg.errors.count, "error") %> prohibited this pkg from being saved:</h2>

      <ul>
      <% @pkg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :pkg, label: "Paket" %>
  </div>
  <div class="field">
    <%= f.select :course_id, Course.all.to_a.map {|e| [e.name, e.id]}, control_col: "col-sm-3", label: "Kursus" %>
  </div>
  <div class="field">
    <%= f.number_field :level, label: "Level", min: 1, control_col: "col-xs-1" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
