<%= form_for(@course, html: { class: "form-horizontal", role: "form", multipart: true}) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "Program", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
    <%= f.select :program_id, Program.order(:program).map {|e| [e.program, e.id]}, 
                 {include_blank: "- Pilih -", selected: @course.program_id },
                 { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Nama", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Level tertinggi", class: "control-label col-sm-2" %>
    <div class="col-sm-2">
      <%= number_field_tag "max_level", @max_level, min: 1, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Prefix Nomor Induk", class: "control-label col-sm-2" %>
    <div class="col-sm-2">
      <%= f.text_field :idn_prefix, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Instruktur Kepala", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
    <%= f.select :head_instructor_id, Instructor.order(:name).map {|e| ["#{e.name} (#{e.nick})", e.id]}, 
                 {include_blank: "- Pilih -", selected: @course.head_instructor_id },
                 { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Upload komponen nilai", class: "control-label col-sm-2" %>
    <div class="col-sm-4">
      <%= file_field_tag :component, class: "form-control", accept: "application/json" %>
    </div>
  </div>

<% if @course.components.size > 0 %>
  <div class="form-group">
    <%= f.label "Komponen nilai", class: "control-label sr-only col-sm-2" %>
    <div class="col-sm-6">
      <pre><%= @course.components.reorder(:created_at).last.content %></pre>
    </div>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
