<p id="notice"><%= notice %></p>

<h2>Daftar Kursus</h2>

<table class="table pretty table-hover table-striped">
  <thead>
    <tr>
      <th>Kursus</th>
      <th>Program</th>
      <th style="text-align:center">Level</th>
      <th>Instruktur Kepala</th>
      <th>Komponen Nilai</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.program.program %></td>
        <td style="text-align:center"><%= @max_levels[course.id] %></td>
        <td><%= course.head_instructor && course.head_instructor.name || 'N/A' %></td>
        <td><%= course.components.size %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to_if course.is_destroyable?, 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
