<h2>Lembar Absensi Siswa</h2>

<h3>Instruktur: <%= @instructor.name %> (<%= @instructor.nick %>) <small><%= @sched.label %>: <%= @sched.time_slot %></h3>
<table class="table table-bordered" style="background-color:white;">
  <thead>
    <tr>
      <th>Nama</th>
      <th style="text-align:center;">SEN / <%= @dates[0].strftime("%d-%m-%Y") %></th>
      <th style="text-align:center;">SEL / <%= @dates[1].strftime("%d-%m-%Y") %></th>
      <th style="text-align:center;">RAB / <%= @dates[2].strftime("%d-%m-%Y") %></th>
      <th style="text-align:center;">KAM / <%= @dates[3].strftime("%d-%m-%Y") %></th>
      <th style="text-align:center;">JUM / <%= @dates[4].strftime("%d-%m-%Y") %></th>
      <th style="text-align:center;">SAB / <%= @dates[5].strftime("%d-%m-%Y") %></th>
    </tr>
  </thead>

  <tbody>
    <% @student_vs_day.each do |row| %>
      <tr>
        <td style="height:60px;vertical-align:middle;"><%= row.shift %></td>
        <% row.each_with_index do |col,idx| %>
          <% if @holidays[idx] %>
            <td class="danger" style="text-align:center;vertical-align:middle;"><%= @holidays[idx] %></td>
          <% else %>
            <td <%= col ? raw('class="info small"') : '' %>><%= col || '' %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
