<h2>Lembar Absensi Siswa</h2>

<%= bootstrap_form_tag(url: presence_sheet_create_path, method: :get, layout: :horizontal, label_col: "col-sm-2", control_col: "col-xs-4") do |f| %>

<%= f.select :schedule, Schedule.order(:id).to_a.map {|e| [e.label, e.id]}, label: "Slot Jadwal", control_col: "col-xs-3" %>
<%= f.select :instructor, Instructor.order(:id).to_a.map {|e| ["#{e.name} (#{e.nick})", e.id]}, label: "Instruktur", control_col: "col-xs-3" %>

<%= f.form_group :time_range, label: { text: "Rentang Waktu" } do %>
  <%= f.radio_button :time_range, "this_week", label: "Minggu Ini" %>
  <%= f.radio_button :time_range, "next_week", label: "Minggu Depan", checked: true %>
<% end %>

  <div class="actions">
    <%= f.submit "Tampilkan"%>
  </div>

<% end %>
