<h2>Lembar Absensi Siswa</h2>

<%= form_tag(presence_sheet_create_path, {method: :get, class: "form-horizontal", role: "form"}) do %>

  <div class="form-group">
    <%= label_tag :schedule, "Slot Jadwal", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <%= select_tag :schedule, options_for_select(Schedule.order(:id).to_a.map {|e| [e.label, e.id]}), 
                     class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :instructor, "Instruktur", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
      <%= select_tag :instructor, options_for_select(Instructor.order(:id).to_a.map {|e| ["#{e.name} (#{e.nick})", e.id]}), 
                     class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :time_range, "Rentang Waktu", class: "control-label col-sm-2" %>
    <div class="col-sm-3">
    <div class="radio form-control">
      <label>
        <%= radio_button_tag :time_range, "this_week", nil %> Minggu Ini
      </label>
    </div>
    <div class="radio form-control">
      <label>
        <%= radio_button_tag :time_range, "next_week", true %> Minggu Depan
      </label>
    </div>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :prinf_pdf, "PDF", class: "control-label col-sm-2 sr-only" %>
    <div class="col-sm-3">
      <div class="checkbox form-control">
        <%= label_tag :print_pdf do %>
          <%= check_box_tag :print_pdf, "yes", nil %>
          PDF
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag "Tampilkan"%>
  </div>

<% end %>
<script type="text/javascript">

$("#print_pdf").change(function() {
  if (this.checked) {
    // alert("checked " + "<%= presence_sheet_create_path(format: :pdf) %>");
    $('form').attr('action', "<%= presence_sheet_create_path(format: :pdf) %>");
  } else {
    $('form').attr('action', "<%= presence_sheet_create_path %>");
  }
});

</script>
