<!-- Header -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("smaller-logo2.png", :alt => "BLK Don Bosco logo", style: "margin-top: -10px;"), '#', class: "navbar-brand" %> 
          <% if Rails.env.staging? %><%= image_tag("beta-icon.png", class: "img-rounded", style: "display:block;margin-top:10px") %><% end %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% permitted_to? :edit, :settings do %>
            <li><%= link_to t("Settings"), settings_edit_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user_fullname || 'Unknown User' %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Profile", profile_edit_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Log Out", logout_path, method: :delete %></li>
              </ul>
            </li>
            <li><a href="">Help</a></li>
          </ul>
<% if current_user_role != "instructor" %>
 <%= bootstrap_form_tag(method: :get, html: {class: "navbar-form navbar-right"}) do %>
  <%= hidden_field_tag 'hfield' %>
  <div class="form-group has-feedback">
    <input id="search_student" class="form-control" type="text" placeholder="Cari nama siswa.."/>
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
  </div>
 <% end %>
<% end %>
        </div>
      </div>
    </div>
<!-- /Header -->
