<!DOCTYPE html>
<html>
<head>
  <title>sistem informasi BLK Salesian Don Bosco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "/assets/highcharts.js", "chartkick" %>
  <%= yield(:head) %> 
  <%= csrf_meta_tags %>
</head>
<% if current_page?(root_path) %>
<body>
<% else %>
<body>
<% end %>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("smaller-logo2.png", :alt => "BLK Don Bosco logo", style: "margin-top: -10px;"), '#', class: "navbar-brand" %> 
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Settings", settings_edit_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user_fullname || 'Unknown User' %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Profile", profile_edit_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Log Out", logout_path, method: :delete %></li>
              </ul>
            </li>
            <li><a href="">Help</a></li>
          </ul>
<%= bootstrap_form_tag(method: :get, html: {class: "navbar-form navbar-right"}) do %>
  <%= hidden_field_tag 'hfield' %>
  <div class="form-group has-feedback">
    <input id="search_student" class="form-control" type="text" placeholder="Cari nama siswa.."/>
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
  </div>
<% end %>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= active_tab_class(root_path) %>"><%= link_to "Beranda", root_path %></li>
            <li class="<%= active_tab_class(new_student_path) %>"><%= link_to "Pendaftaran Siswa Baru", new_student_path %></li>
            <li class="<%= active_tab_class(students_path) %>"><%= link_to "Lihat Daftar Siswa", students_path %></li>
            <li class="<%= active_tab_class(presence_sheet_new_path) %>"><%= link_to "Lembar Absensi Siswa", presence_sheet_new_path %></li>
            <li class="<%= active_tab_class(report_new_active_students_path, report_create_active_students_path) %>"><%= link_to "Laporan Siswa Aktif", report_new_active_students_path %></li>
            <li class="<%= active_tab_class(report_new_disnaker_path, report_create_disnaker_path) %>"><%= link_to "Laporan Pelaksanaan Pelatihan", report_new_disnaker_path %></li>
          </ul>
          <ul class="nav nav-sidebar">
            <% permitted_to? :read, :programs do %>
              <li class="<%= active_tab_class(programs_path) %>"><%= link_to "Program", programs_path %></li>
            <% end %>
            <% permitted_to? :read, :pkgs do %>
              <li class="<%= active_tab_class(pkgs_path) %>"><%= link_to "Kursus", pkgs_path %></li>
            <% end %>
            <% permitted_to? :read, :schedules do %>
              <li class="<%= active_tab_class(schedules_path) %>"><%= link_to "Slot Jadwal", schedules_path %></li>
            <% end %>
          </ul>
          <ul class="nav nav-sidebar">
            <% permitted_to? :read, :instructors do %>
              <li class="<%= active_tab_class(instructors_path) %>"><%= link_to "Instruktur", instructors_path %></li>
            <% end %>
            <% permitted_to? :read, :users do %>
              <li class="<%= active_tab_class(users_path) %>"><%= link_to "Users", users_path %></li>
            <% end %>
            <% permitted_to? :read, :changes do %>
              <li class="<%= active_tab_class(changes_path) %>"><%= link_to "Log Perubahan", changes_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="table-responsive">
<%= yield %>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">

var studentNames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: '<%= name_suggestions_students_url %>.json?q=%QUERY'
});

studentNames.initialize();

$('#search_student').typeahead({
  hint: true,
  highlight: true,
  minLength: 3
}, 
{
  name: 'student-names',
  displayKey: 'name',
  source: studentNames.ttAdapter(),
  templates: {
    suggestion: Handlebars.compile('<p><strong>{{name}}</strong> – {{birthplace}}, {{local_birthdate}}</p>')
  }
});

$('#search_student').on('typeahead:selected', function (e, datum) {
  console.log("selected");
  var hfield = document.getElementById('hfield');
  hfield.value = datum.id;
  var url = "<%= students_url %>/" + datum.id;
  console.log("url: " + url);
  $(location).attr('href', url);
});
$('#search_student').on('typeahead:opened', function (e, datum) {
  console.log("opened");
});

</script>
</body>
</html>
