<!DOCTYPE html>
<html>
<head>
  <title>sistem informasi BLK Salesian Don Bosco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://getbootstrap.com/examples/dashboard/#">sistem informasi BLK Salesian Don Bosco</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Settings</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user_fullname || 'Unknown User' %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><%= link_to "Log Out", logout_path, method: :delete %></li>
              </ul>
            </li>
            <li><a href="http://getbootstrap.com/examples/dashboard/#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= active_tab_class(root_path) %>"><%= link_to "Overview", root_path %></li>
            <li class="<%= active_tab_class(new_student_path) %>"><%= link_to "Pendaftaran Siswa Baru", new_student_path %></li>
            <li class="<%= active_tab_class(student_schedule_index_path) %>"><%= link_to "Atur Jadwal Siswa", student_schedule_index_path %></li>
            <li><a href="">Ubah Data Siswa</a></li>
            <li class="<%= active_tab_class(students_path) %>"><%= link_to "Lihat Daftar Siswa", students_path %></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="<%= active_tab_class(programs_path) %>"><%= link_to "Program", programs_path %></li>
            <li class="<%= active_tab_class(pkgs_path) %>"><%= link_to "Paket", pkgs_path %></li>
            <li class="<%= active_tab_class(schedules_path) %>"><%= link_to "Slot Jadwal", schedules_path %></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="<%= active_tab_class(users_path) %>"><%= link_to "Users", users_path %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="table-responsive">
<%= yield %>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
