<!DOCTYPE html>
<html>
<head>
  <title>sistem informasi BLK Salesian Don Bosco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %> 
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<!-- Wrapper -->
  <div id="wrap">
<%= render 'layouts/header' %>
<%= render 'layouts/main' %>
  </div>
<!-- Wrapper -->
<%= render 'layouts/footer' %>
<script type="text/javascript">

var studentNames = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  remote: '<%= name_suggestions_students_url %>.json?q=%QUERY'
});

studentNames.initialize();

$('#search_student').typeahead({
  hint: true,
  highlight: true,
  minLength: 3
}, 
{
  name: 'student-names',
  displayKey: 'name',
  source: studentNames.ttAdapter(),
  templates: {
    suggestion: Handlebars.compile('<p><strong>{{name}}</strong> – {{birthplace}}, {{local_birthdate}}</p>')
  }
});

$('#search_student').on('typeahead:selected', function (e, datum) {
  console.log("selected");
  var hfield = document.getElementById('hfield');
  hfield.value = datum.id;
  var url = "<%= students_url %>/" + datum.id;
  console.log("url: " + url);
  $(location).attr('href', url);
});
$('#search_student').on('typeahead:opened', function (e, datum) {
  console.log("opened");
});

</script>
</body>
</html>
