<!DOCTYPE html>
<html>
<head>
  <title>sistem informasi BLK Salesian Don Bosco</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:head) %> 
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%= yield %>
</body>
</html>
